/*
* viewContent.less to read a TEI file
*/

.contentTei{

	max-width: 97ch;

	// Call base variables file which call TEI-Boilerplate base file
	@import "baseVariables.less";

	// Define custom variables & Styles
	@background-color:#FEFEFE;
	@color:#2A3744;
	@body-font-size: 16px;
	@body-font-family: "Georgia" , serif;
	@titles-font-family: "Helvetica Neue" ,"Open Sans ",Helvetica,Arial,sans-serif;
	@display : none;
	@primaryColor : #B1A0A0;
	@secondColor : #FEFEFE;
	@coloredColor : #CC6A63;


	//Surcharge
	p{
		text-align: justify;
        text-indent: 2vw;
        max-width: 85ch;
	}

	back ,respstmt , ns\:stdf , titlestmt author , text titlepage , text div[type="keyword"] , p[rend="figure-title"] , figure , titlestmt title[xml\:lang="en"] , div[type="abstract"][xml\:lang="en"]{
		display: @display;
	}

	titlestmt title{
		width: 100%;
		font-size: 27px;
		font-weight: bold;
        font-family: @titles-font-family;
        font-style: italic;
        color: #666;
	}

	title:last-child{
		margin-bottom: 45px 
	}

	teiHeader{
        text-align: center;
		border-bottom: 1px solid transparent;
	}

	note{
		display: @display;
		width: 100%;
		padding: 15px;
		background: @primaryColor;
		color: #FEFEFE;
		border-radius: 0;
		box-shadow: none;
		border: none;
	}

	div[type="div1"],div[type="div2"],div[type="div3"]{
		padding: 12px;
	}

	div[type="div1"] > w , div[subtype="level1"]{
		font-size: 24px;
		font-weight: bold;
		color: @coloredColor;
        font-family: @titles-font-family;
	}

	div[type="div1"] > p ,div[type="div1"] > list{
		font-weight: normal;
		color: @color;
	}

	div[type="div2"] > w , div[subtype="level2"]{
		padding: 12px;
		font-size: 21px;
		font-weight: bold;
		font-style: italic;
		color: @coloredColor;
        font-family: @titles-font-family;
	}

	div[type="div2"] > p , div[type="div2"] > list{
		font-weight: normal;
		color: @color;
	}

	div[type="div3"] > w , div[subtype="level3"]{
		padding: 12px;
		font-size: 18px;
		color: @coloredColor;
        font-family: @titles-font-family;
	}

	div[type="div3"] > p, div[type="div3"] > list{
		font-weight: normal;
		color: @color;
	}


	div[type="abstract"]{
        margin: 5vh auto;
		width: 75ch;
		background: @primaryColor;
		padding: 15px;
		color: @secondColor;
	}

	text p > p:first-child{
		margin-top: 95px;
	}

    p[rend="footnote"]{
        font-style: italic;
    }

	q[rend="quotation"]{
		float: left;
		width: 100%;
		margin-left: 15px;
		margin-bottom: 11px;
		padding-left: 8px;
		font-style: normal;
		font-size: 16px;
		font-family: Consolas, "Times New Roman", Verdana;
		font-style: italic;
		font-weight: normal;
		border-left: 4px solid #CCC;
		color: @color;
        text-align: justify;
	}
    
    

}